---
layout: splash
---

<section class="main-content">
  <h3><a id="welcome-to-opencadc" class="anchor"
         href="#welcome-to-opencadc" aria-hidden="true">
    <span aria-hidden="true" class="octicon octicon-link"></span></a>Welcome toOpenCADC.org</h3>

  <p>This automatic page generator is the easiest way to create beautiful pages
    for all of your projects. Author your page content here <a
        href="https://guides.github.com/features/mastering-markdown/">using
      GitHub Flavored Markdown</a>, select a template crafted by a designer, and
    publish. After your page is generated, you can check out the new <code>gh-pages</code>
    branch locally. If you’re using GitHub Desktop, simply sync your repository
    and you’ll see the new branch.</p>

  <ul style="list-style: none;">
    {% for project in site.data.projects %}

    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
    <li>
      <div class="row">
        <div class="col-md-6">
          <a href="/projects/{{ project.name }}"
             title="{{ project.description }}">{{ project.name }}</a>
        </div>
        {% else %}
        <div class="col-md-6">
          <a href="/projects/{{ project.name }}"
             title="{{ project.description }}">{{ project.name }}</a>
        </div>
      </div>
    </li>
    {% endif %}

    {% endfor %}
  </ul>

</section>
